#program N level-50.cfg
#include ../rules.cfg

# level architecture
==1Ts
  ##############
  ##          ##
  ##..####  ..##
@@##ST    @tPP##
  ##    ##st  ##
  ##    ##    ##
  ##############

# corresponding goal
==ST 22   1
~          gone!

@B      SB@@
SB



