#program N level-28.cfg
#include ../rules.cfg

# level architecture
==1TS
  ##########
  ##      ######
  ##  ##  STPP####
@@##    @T      ##
  ######st      ##
      ##      ..##
      ############

# corresponding goal
==ST 22   1
  ~      gone!

  @B    @@
SB

      SB

