#program N level-26.cfg
#include ../rules.cfg

# level architecture
==1T#
  ##########
  ##    ..######
  ##  st....  ##
  ##    ####st####
@@####    @#    ##
    ##st      PP##
    ##    ########
    ########

# corresponding goal
==ST 22   1
~    gone!

@B  @@
SBSB





