#program N level-52.cfg
#include ../rules.cfg

# level architecture
==1T#
  ############
  ##    ..  ##
  ##        ######
  ##  ##stst..  ##
@@##..    @###  ##
  ##PPst  ####  ##
  ######        ##
      ############

# corresponding goal
==ST 22   1
    ~      gone!

    @B    @@

        SB
SB



