#program N level-16.cfg
#include ../rules.cfg

# level architecture
==1Ts
    ########
  ####    ########
  ##....st    ..##
@@##  ##@t  st  ##
  ##PP    ##    ##
  ##########    ##
          ########

# corresponding goal
==ST 22   1
~            gone!

@BSB      SB@@




