#program N level-06.cfg
#include ../rules.cfg

# level architecture
==1T~
        ########
        ##  PP####
  ########      ##
  ##..  ##stst  ##
@@##      @   ####
  ##..    st####
  ####..    ##
    ##########

# corresponding goal
==ST 22   1
~       gone!

@B     @@
      ~
SB
  SB

