#program N level-24.cfg
#include ../rules.cfg

# level architecture
==1T.
    ############
  ####PP..    ##
  ##  ststST  ##
  ##    ##    ####
@@##    ##    @.##
  ########  ##  ##
        ##      ##
        ##########

# corresponding goal
==ST 22   1
~        gone!

@B      @@
  SB

      SB



