#program N level-29.cfg
#include ../rules.cfg

# level architecture
==1TS
      ############
  ######  ..    ##
  ##  stPP##..  ##
  ##    st##  ####
@@##    @T    ##
  ####    ##  ##
    ####      ##
      ##########

# corresponding goal
==ST 22   1
  ~    gone!

  @B  @@
    SB

SB



