#program N level-10.cfg
#include ../rules.cfg

# level architecture
==1TP
  ##########
  ##..  ..######
  ##..##stst  ##
@@##      @P  ##
  ##  st##    ##
  ####      ####
    ##########

# corresponding goal
==ST 22   1
~      gone!

@B  SB@@
SB




