#program N level-22.cfg
#include ../rules.cfg

# level architecture
==1Ts
  ############
  ##      PP####
  ##    ##    ##
@@##..    @t  ##
  ##  stst##..##
  ######    ..##
      ##########

# corresponding goal
==ST 22   1
~          gone!

@B        @@
        SB
        SB

