#program N level-09.cfg
#include ../rules.cfg
#help Automatic Making of Sokoban Levels | © 1996 Yoshio Murase | Level 8

# level architecture
==1Ts
  ##############
  ##..    PP..##
  ##    st##  ####
@@##  ##  @t..  ##
  ##      st##  ##
  ########      ##
        ##########

# corresponding goal
==ST 28DD 1
!          Done

@B      SB@@

        SB
