#program N level-09.cfg
#include ../rules.cfg

# level architecture
==1Ts
  ##############
  ##..    PP..##
  ##    st##  ####
@@##  ##  @t..  ##
  ##      st##  ##
  ########      ##
        ##########

# corresponding goal
==ST 22   1
~          gone!

@B      SB@@

        SB



