#program N level-30.cfg
#include ../rules.cfg

# level architecture
==1Ts
    ########
  ####    ######
  ##          ####
@@##    ##@tstPP##
  ##    ..  ST..##
  ################

# corresponding goal
==ST 22   1
~        gone!

@B  SBSB@@

