#program N level-40.cfg
#include ../rules.cfg

# level architecture
==1T#
        ##########
  ########  ..  ##
  ##  STPP  ..  ##
@@##  st  @#    ##
  ##  ##    st  ##
  ##      ########
  ##########

# corresponding goal
==ST 22   1
      ~  gone!

      @B@@
SB    SB




