#program N level-32.cfg
#include ../rules.cfg

# level architecture
==1T.
  ################
  ##            ##
  ##  ##  ####ST##
  ##  ##PP  st  ##
@@##..st  @.    ##
  ##########    ##
          ##    ##
          ########

# corresponding goal
==ST 22   1
          ~  gone!

          @B@@

SB    SB



