#program N level-04.cfg
#include ../rules.cfg
#help Microcosmos | © 2000 Aymeric du Peloux | Level 3

# level architecture
==1Ts
        ########
  ########    ##
  ##    st    ####
  ##  ##st##    ##
@@##    @t      ##
  ##..######    ##
  ##..########  ##
  ##..  PP      ##
  ################

# corresponding goal
==ST 28DD 1
!  Done

@B@@
SB
SB
