#program N level-08.cfg
#include ../rules.cfg
#help Microcosmos | © 2000 Aymeric du Peloux | Level 7

# level architecture
==1T#
    ##########
    ##      ##
    ##  ##st####
  ####  PP    ##
@@##  ..@#st  ##
  ##  ..    ####
  ##  ..##st##
  ####      ##
    ##########

# corresponding goal
==ST 28DD 1
!  Done

@B@@
SB
SB
