#program N level-07.cfg
#include ../rules.cfg
#help Microcosmos | © 2000 Aymeric du Peloux | Level 6

# level architecture
==1Ts
    ##########
    ##      ##
    ##  ##  ####
  ####  ST    ####
@@##  stST@t    ##
  ##    ST  ##  ##
  ####  ..    P:##
    ##############

# corresponding goal
==ST 28DD 1
!  Done

@B@@
SB
SB
SB
