#program N level-26.cfg
#include ../rules.cfg
#help Microcosmos | © 2000 Aymeric du Peloux | Level 25

# level architecture
==1T#
            ########
      ########    ##
      ##....      ##
  ######  stPP##  ####
@@##    st  @#....  ##
  ##  st      st    ##
  ########    ########
        ########

# corresponding goal
==ST 28DD 1
!          Done

@BSB      @@

      SBSB
