#help Prime machines  w/s choose  e run  q back
#timing T 0
#program 1 01-eratosthenes.cfg
#program 2 02-bands.cfg
#program 3 03-counters.cfg
#program 4 04-packed.cfg
#program 5 05-fischer.cfg
#program 6 06-umeo.cfg
#sound D sounds/clack.wav
#control Q return

^
^Zcc

# The anchor must be a character this rule does not itself paint,
# or it re-fires on its own output: `P` re-drew the menu from every
# P in "P R I M E S" and "Packed".
# Six ways to sieve. Each one moves the divisor further out of the rule set
# and, from Fischer on, makes the picture a lawful cellular automaton.
==ZT5
   P R I M E S .

  |x|~Eratosthenes~
  | |~Bands~
  | |~Counters~
  | |~Packed~
@@| |~Fischer~196@~
  | |~Umeo~2015~
  | |~
  | |~Back

=Dxs~
 @ @@
| | x
=Dxw~
| | x
 @ @@

=1xex
@| Eratosthenes@@
=2xex
@| Bands@@
=3xex
@| Counters@@
=4xex
@| Packed@@
=5xex
@| Fischer@@
=6xex
@| Umeo@@
=Qxex
@| Back@@

=Qxq
@@@
