#program N level-01.cfg
#include rules.cfg

# level architecture
==1Ts
  ##############
  ##      ..  ##
  ##  ST      ##
@@##  ..@t    ##
  ##      st  ##
  ##    PP    ##
  ##############

# corresponding goal
==ST 22   1
~      gone!

    SB
@B    @    @
SB
