#program O original/level-01.cfg
#program Y yoshio-murase/level-01.cfg
#timing T 0
#control Q return

^
^1cc

# level architecture
==1Tn
@@|x| Thinki@g Rabbitt
  | | Yoshio Murase

==xs~
 @ @@
| | x
==xw~
| | x
 @ @@

=Oxex
@  Thinking@@
=Yxex
@  Yoshio@@

=Qxq
@@@
