#help Sokoban Collections
#program O original/level-01.cfg
#program Y yoshio-murase/level-01.cfg
#program M microcosmos/level-01.cfg
#program m microban/level-001.cfg
#sound D sounds/clack.wav
#timing T 0
#control Q return

^
^1cc

# level architecture
==1Tn
@@|x| Thinki@g Rabbitt
  | | Yoshio Murase
  | | Microcosmos
  | | Microban

=Dxs~
 @ @@
| | x
=Dxw~
| | x
 @ @@

=Oxex
@  Thinking@@
=Yxex
@  Yoshio@@
=Mxex
@  Microc@@
=mxex
@  Microb@@

=Qxq
@@@
