#help Sokoban
#timing T 0
#control X reset
#program R rules.cfg
#program C clear.cfg
#sound V sounds/chime.wav

=VgTD30
=CD~D30
@one@@one!

=XPxP
=XPqP
# initial call to colorize level
=RRTR
# next level call
=NOT1
@@@

# otherwise call rules only on key-press
=RPaa  P:
=RPww  P:
=RPsx  P:
=RPdd  P:
@%@@
