#program N level-01.cfg
#include level.cfg

# level architecture
==1TP
    ############## R
    ##      ..  ##
    ##  Sb      ##
    ##  ..ss    ##
    ##      ss  ##
 @ @##    @P    ##
    ##############

# corresponding goal
==ST 22   1
    SB
@B            @@
SB           ~             gone!
