#program N level-02.cfg
#include level.cfg

# level architecture
==1T~
          ########## R
          ##      ##
          ##st    ##
      ######    st######
      ##    st    st  ##
  ######  ##  ######  ##          ############
  ##      ##  ######  ##############    ....##
@@##  st    st      @                   ....##
  ##########  ########  ##PP########    ....##
          ##            ######    ############
          ################

# corresponding goal
==ST 22   1
SBSB
@BSB     ~@@    gone!
SBSB
