#program N level-00.cfg
#include rules.cfg

# level architecture
==1TP
    ##############
    ##          ##
    ##  STst..  ##
 @ @##    @P..  ##
    ##  ST  st  ##
    ##          ##
    ##############

# corresponding goal
==ST 22   1
SB  SB
    @B        @@
SB           ~          gone!
