#timing T 0
#timing M 50
#control X clear
#control R reset
#control Q return
#sound S sounds/click.wav
#sound P sounds/clack.wav
#sound V sounds/chime.wav

^
^1cc

=VgTD30
=ND~D30
@one@@one!

=XPxP
=QPqP
=RPQP
=NOT1
@@@

==#TX11
@@@

==STS22
@T@@B

==sTs33
@t@@b

=PPdK70::
=PPdK70PP
@&sb@@&>s
=PPdK70::
=PPdKS0PP
@&SB@@&>.
=PPaH70::
=PPaH70PP
sb@&@<s@&
=PPaH70::
=PPaH70PP
SB@&@<.@&

=PPwU70::
=PPwU70PP
sb ^s
@&@@&
=PPwU70::
=PPwUS0PP
SB ^.
@&@@&
=PPsJ70::
=PPsJ70PP
@&@@&
sb vs
=PPsJ70::
=PPsJ70PP
@&@@&
SB v.

==>T.70..
==>T~70s~
@&..@@&ST
==>T.70..
==>T~70s~
@&~~@@&st
==>TS70.T
==>Ts70st
@&XX@@&
==>TS70.T
==>Ts70st
@&sb@@&
==>TS70.T
==>Ts70st
@&SB@@&

==<T.70..
==<T~70s~
..@&@ST@&
==<T.70..
==<T~70s~
~~@&@st@&
==<TS70.T
==<Ts70st
XX@&@@&
==<TS70.T
==<Ts70st
sb@&@@&
==<TS70.T
==<Ts70st
SB@&@@&


==^T.70..
==^T~70s~
.. ST
@&@@&
==^T.70..
==^T~70s~
~~ st
@&@@&
==^TS70.T
==^Ts70st
XX
@&@@&
==^TS70.T
==^Ts70st
SB
@&@@&
==^TS70.T
==^Ts70st
sb
@&@@&


==vT.70..
==vT~70s~
@&@@&
.. ST
==vT.70..
==vT~70s~
@&@@&
~~ st
==vTS70.T
==vTs70st
@&@@&
XX
==vTS70.T
==vTs70st
@&@@&
sb
==vTS70.T
==vTs70st
@&@@&
SB


==KT.70:.
==KT~70P~
@&~~@@&PP
==KT.70:.
==KT~70P~
@&..@@&P:
==HT.70:.
==HT~70P~
..@&@P:@&
==HT.70:.
==HT~70P~
~~@&@PP@&

==KTP70::
==KTP70PP
@&sb@@&
==KTP70::
==KTP70PP
@&SB@@&
==KTP70::
==KTP70PP
@&XX@@&

==HTP70::
==HTP70PP
sb@&@@&
==HTP70::
==HTP70PP
SB@&@@&
==HTP70::
==HTP70PP
XX@&@@&

==UT.70:.
==UT~70P~
~~ PP
@&@@&
==UT.70:.
==UT~70P~
.. P:
@&@@&
==JT.70:.
==JT~70P~
@&@@&
.. P:
==JT.70:.
==JT~70P~
@&@@&
~~ PP

==UTP70::
==UTP70PP
XX
@&@@&
==UTP70::
==UTP70PP
sb
@&@@&
==UTP70::
==UTP70PP
SB
@&@@&

==JTP70::
==JTP70PP
@&@@&
XX
==JTP70::
==JTP70PP
@&@@&
sb
==JTP70::
==JTP70PP
@&@@&
SB

=SPd~70P~
=SPd.70:.
@&~~@@&PP
=SPa~70P~
=SPa.70:.
~~@&@PP@&
=SPw~70P~
=SPw.70:.
~~ PP
@&@@&
=SPs~70P~
=SPs.70:.
@&@@&
~~ PP


=SPd~70P~
=SPd.70:.
@&..@@&P:
=SPa~70P~
=SPa.70:.
..@&@P:@&
=SPw~70P~
=SPw.70:.
.. P:
@&@@&
=SPs~70P~
=SPs.70:.
@&@@&
.. P:
