#! Ants
#grid 2 1

^
^SxX
^SxX
^SxX
^SxX
^SxX
^SxX
^GxX

==STs33
@@@s

==GTg11
@@@g

==sB~00~~
@s&@@&S

==sB~00~~ 0 2
& @s@S @&

==sB~00~~ 0 2
&  S
@s@@&
==sB~00~~
@s@@&
&  S
==sB~00~~
@s @@&
  &   S
==sB~00~~
  @s@  @&
&    S
==sB~00~~ 0 2
  &   S
@s @@&
==sB~00~~
&    S
  @s@  @&

