#help Gravity   q/w/e/a/s/d ... hexagonal movement f/ ... place mass /q ... quit
#timing B 500
#timing M 50
#timing T 0
#grid 14 4
#program G gravity.cfg

# gravitons'    5 6
# directions   4 o 1
#               3 2

^
^Scc

=GOg~
@@~@~
   ~

=)OQm
@@@

==SB~
     _____
    /     \
@@@/  _O_  \
   \   |   /
    \_____/
==OfO30
    _____
~  / ___ \
@@/ /~@~\ \
  \ \___/ /
   \_____/
==OfO
    _____
_  / ~~~ \
@@/ ~ @ ~ \
  \ ~~|~~ /
   \_____/
==Oq~70~~
==Oq.70_~
           __ __
          /     \
~        /  _O_  \_____
~      & \   |   /     \
       @@ \__ __/  &@&  \
                \   &   /
                 \_____/
==Od~70~~
==Od.70_~
           _____
&         /     \
@       @/  &@&  \__ __
         \   &   /     \
       ~  \_____/  _O_  \
       ~        \   |   /
                 \__ __/
==Ow~70~~
==Ow.70_~
    __ __
   /     \
~ /  _O_  \
~ \   |   /
   \__ __/
&  /     \
@@/  &@&  \
  \   &   /
   \_____/

==Os~70~~
==Os.70_~
    _____
&  /     \
@@/  &@&  \
  \   &   /
   \__ __/
   /     \
~ /  _O_  \
~ \   |   /
   \__ __/
==Oe~70~~
==Oe.70_~
                  __ __
                 /     \
       ~   _____/  _O_  \
&      ~  /     \   |   /
@       @/  &@&  \__ __/
         \   &   /
          \_____/
==Oa~70~~
==Oa.70_~
                  _____
       &         /     \
       @@  __ __/  &@&  \
          /     \   &   /
~        /  _O_  \_____/
~        \   |   /
          \__ __/
