#! Gravity   q/w/e/a/s/d ... hexagonal movement f/ ... place mass /q ... quit
#timing T 0
#timing B 500
#grid 14 4
#program R return

# gravitons'    5 6
# directions   4 o 1
#               3 2

=R.gO
@@_@_
   |

==.T.40
              5
               &
                       6
      4 &             &
 ___
/ @ \@         @
\_ _/
        &             & 1
       3
               &
                2
==1T$40/\ 0 99
==1T$40_~ 0 99
@       @@

       %        1
==2T$40/\ 0 99
==2T$40_~ 0 99
@@@



% 2
==3T$40/\ 0 99
==3T$40_~ 0 99
       @@       @

%        3
==4T$40/\ 0 99
==4T$40_~ 0 99
%        4

       @@       @
==5T$40/\ 0 99
==5T$40_~ 0 99
% 5



@@@
==6T$40/\ 0 99
==6T$40_~ 0 99
       %        6

@       @@

# ==1T$40
# @@@
# ==2T$40
# @@@
# ==3T$40
# @@@
# ==4T$40
# @@@
# ==5T$40
# @@@
# ==6T$40
# @@@

==.B~306~
        &          ~~&
       @  @       ~ @ ~
            ___   ~~~~~
~          / . \
           \___/
==.B~304~
            ___
~          / . \
           \___/   ~~~
     & @  @       & @ ~
                  ~~~~~

==.B~301~
            ~~~
@ &      @ ~ @ &
           ~~~~~   ___
       ~          / . \
                  \___/
==.B~303~
                    ___
        ~          / . \
             ~~~   \___/
 @       @  ~ @ ~
&           ~&~~~
==.B~302~
            ~~~
@  @       ~ @ ~
 &         ~~~&~

            ___
~          / . \
           \___/
==.B~305~
             ___
 ~          / . \
            \___/

&            &~~
 @  @       ~ @ ~
            ~~~~~
