#help Now
#timing B 500
#timing T 0

#control Q quit

^
^Scc

==ST日
  ┌────────────┐
  │            │
  │            │
  │            │
  │            │
  │            │
@@│      @     │:
  │            │
  │            │
  │            │
  │            │
  └────────────┘
