#help Snake | a/s/d/w move | x restart
#include snake.cfg
#timing B 200
#control X clear

^
^zxX
^zxX
^zxX
^zxX
^zxX
^zxX
^zxX
^zxX
^zxX
^zxX
^zxX
^zxX
^xxX
^xxX
^xxX
^xxX
^xxX
^xxX
^xxX
^xxX
^xxX
^xxX
^xxX
^xxX
^xxX
^xxX
^xxX
^QCC

# x → clear via stacked headers per snake-head NT (any matches in play).
=XJxJ
=XKxK
=XUxU
=XHxH
@@@
