#help Tetris | Level 01
#timing B 450
#timing L 60000
#program N level-02.cfg


^
^Qcc

#include tetris.cfg

==QTqrR
  ############kk##########
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
@@##          @         ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ##                    ##
  ########################
==kTK
   ;
@k@@k

==;T-00
@@  ----------@---------
                       ^
==qT~00
@@@

