#help Hex | q/w/e/a/s/d move | Q return | x restart
#grid 14 4
#timing B 200
#timing T 0
#control Q return
#control ~ pause
#control x restart
#transient O

^
^Scc

#include hex.cfg
#include biome_plains.cfg
