#include snake.cfg
#timing B 400
#control X reset
#sound V sounds/chime.wav

==^Tx
        Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z
        Z x x x x x x x x x x x x x x x x x x Z
        Z x x x x Z Z Z Z x x Z Z Z Z x x x x Z
        x x x x x Z x x x x x Z     Z x x x x Z
  Q     x x x x x Z x x x x x Z     Z x x x x Z
@@      Z x x x x Z Z Z Z x @ Z     Z x x x x Z
        Z x x x x x x x Z x x Z     Z x x x x Z
        Z x x x x x x x Z x x Z     Z x x x x Z
        Z x x x x Z x x Z x x Z     Z x x x x Z
        Z x x x x Z Z Z Z x x Z Z Z Z x x x x Z
        Z x x x x x x x x x x x x x x x x x x Z
        Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z

=V#T#18
                                          Game won!
 @#######################################@@
 ##~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ##
 ##~ ~ ~ ~ ########~ ~ ########~ ~ ~ ~ ##
 ~ ~ ~ ~ ~ ##~ ~ ~ ~ ~ ##    ##~ ~ ~ ~ ##
 ~ ~ ~ ~ ~ ##~ ~ ~ ~ ~ ##    ##~ ~ ~ ~ ##
 ##~ ~ ~ ~ ########~ ~ ##    ##~ ~ ~ ~ ##
 ##~ ~ ~ ~ ~ ~ ~ ##~ ~ ##    ##~ ~ ~ ~ ##
 ##~ ~ ~ ~ ~ ~ ~ ##~ ~ ##    ##~ ~ ~ ~ ##
 ##~ ~ ~ ~ ##~ ~ ##~ ~ ##    ##~ ~ ~ ~ ##
 ##~ ~ ~ ~ ########~ ~ ########~ ~ ~ ~ ##
 ##~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ##
 ########################################

=Xw~
@@@
