#program N level-13.cfg
#include ../rules.cfg

# level architecture
==1Ts
  ################################
  ##                            ##
  ##  ##  ############          ##
  ##  ##    st  st  st  st##    ##
  ##  ##      stPPst      ####  ####
  ##  ##    st  st  st######......##
@@##  ##      st  @t    ####......##
  ##  ######ststst  st  ####......##
  ##          ##  ####  ####......##
  ##########      ####  ####......##
          ##########          ######
                  ##          ##
                  ##############

# corresponding goal
==ST 22   1
~      gone!

@BSBSB@@
SBSBSB
SBSBSB
SBSBSB
SBSBSB



