#program N level-50.cfg
#include ../rules.cfg

# level architecture
==1Ts
              ########################
            ####....        ##      ##
          ####....ST  st        st  ##
        ####....ST..##  ##  ##  st####
        ##....ST..##  ##  ##  st    ##
  ########......##    ##        ##  ##
  ##    ####  ##                    ##
  ##  PPst  st  ######    ##      ####
@@##  st      @t      ##  ##      ##
  ######stst      ##  ##  ##  ##  ##
      ##      st      ##  ##  ##########
      ##  st##  ##########            ##
      ##st      ##      ##        ##  ##
      ##    ######      ####          ##
      ##    ##            ##        ####
      ########            ############

# corresponding goal
==ST 22   1
      ~    gone!

      @BSB@@
    SBSBSB
  SBSBSBSB
SBSBSBSB
SBSBSB










