#program N level-27.cfg
#include ../rules.cfg

# level architecture
==1T#
    ##############
    ##    ##    ##########
  ####    ##    ##......######
  ##    st##    ##......    ##
  ##  st  ##stst  ......    ##
  ##    st##    ##......  ..##
@@##      ##  st@###############
  ####st              st  st  ##
  ####    ##    stst  ##      ##
    ############    ####ststPP##
              ##            ####
              ################

# corresponding goal
==ST 22   1
~          gone!

@BSBSB    @@
SBSBSB
SBSBSB
SBSBSB  SB






