#program N level-37.cfg
#include ../rules.cfg

# level architecture
==1Ts
                          ##########
  ##########    ############      ##
  ##      ########    st  st  st  ##
  ##  st      ####  ####  ####    ####
  ##      st  st          st    st  ##
  ######  st    ####  ####          ####
      ##  ##########  ##########stst  ##
    ####st##########  PP####          ##
@@  ##  st    ######@t######  st    ####
    ##  st    ##      ######    ######
    ##  stst  st  ##      stst  ##
    ##          ##      ####    ##
    ##############....  ..######
          ##..................##
          ##..................##
          ######################

# corresponding goal
==ST 22   1
      ~            gone!

      @BSB  SB    @@
SBSBSBSBSBSBSBSBSB
SBSBSBSBSBSBSBSBSB

