#program N level-10.cfg
#include ../rules.cfg

# level architecture
==1Ts
                      ##############
                      ##    ......##
              ##########    ......##
              ##            ..  ..##
              ##    ####    ......##
              ####  ####    ......##
            ######  ################
@@          ##  st@tst  ####
    ##########    st  st  ##########
  ####      ##st  st      ##      ##
  ##PP  st    st        st    st  ##
  ############  stst  st  ##########
            ##            ##
            ################

# corresponding goal
==ST 22   1
~      gone!

@BSBSB@@
SBSBSB
SB  SB
SBSBSB
SBSBSB








