#program N level-22.cfg
#include ../rules.cfg

# level architecture
==1Ts
  ##################
  ##              ##
  ##              ########
  ####  ########  ##    ##
  ####  ##PP####        ##
  ##  ststst  st    stst##
  ##    ##  ####  st    ##
@@##    ##  ####    @t  ########
  ########    ststst  st##    ##
    ##      ####      ........##
    ##  ##      ##  ##....  ..##
    ##      ##  ##  ####......##
    ##########  st    ##......##
            ####      ##########
              ##########

# corresponding goal
==ST 22   1
~        gone!

@BSBSBSB@@
SBSB  SB
  SBSBSB
  SBSBSB


