#program N level-48.cfg
#include ../rules.cfg

# level architecture
==1TP
                    ########
    ##################    ####
  ####    st            st  ##########
  ##      ####  ####      ####......##
  ##  ##stst  st  stst##st####......##
@@##  ##      @P      ##      ......##
  ##    st##  ######stst      ......##
  ##  st    stst    st  ####........##
  ######st              ##############
      ##    ##############
      ########

# corresponding goal
==ST 22   1
  ~      gone!

  @BSBSB@@
  SBSBSB
  SBSBSB
  SBSBSB
SBSBSBSB



