#program N level-17.cfg
#include ../rules.cfg
#help Original 1980 Sōkoban by Hiroyuki Imabayashi | © 1982 Thinking Rabbitt | Level 16

# level architecture
==1T#
  ##########
  ##      ####
  ##        ##    ########
  ##  st    ########    ##
  ##    stst  st      st##
  ######PP  ##st        ####
    ##    ####    st  st  ####
@@  ##  st    ##@#  ####  ..##
    ##    ##st####st    ##..##
    ######      st....####..##
      ##        ##..ST......##
      ##  stst  ##..........##
      ##    ##################
      ##    ##
      ########

# corresponding goal
==ST 28DD 1
        !  Done

        @B@@
        SB
SBSB    SB
SBSBSBSBSB
SBSBSBSBSB
