#program N level-29.cfg
#include ../rules.cfg

# level architecture
==1T.
                    ##########
            ##########      ##
          ####  st    st    ########
  ##########  st    st  st  ####..##
  ##              stst    ####....##
  ##    ############  ######....  ##
  ####  ##    ##        ##......  ##
@@##  st      ##        ##@.....  ##
  ##PP  ##st  ####  ########......##
  ########    st  stst    ####....##
        ####    st  st    st......##
          ##  stst    st  ##    ..##
          ##      st  st    ########
          ############      ##
                    ##########

# corresponding goal
==ST 22   1
      ~  gone!

      @B@@
    SBSB
  SBSB
SBSBSB
SBSBSB
  SBSBSB
    SBSB
  SBSBSB
      SB



