#program N level-40.cfg
#include ../rules.cfg

# level architecture
==1Ts
                            ############
    ##########################........##
  ####      ####          ####........##
  ##    stst####    st  PP####........##
  ##            stst  st##    ........##
  ##    st  ####  stst  ##  ##  ......##
  ##    st  ####  st    ##    ........##
  ####  ##########  ######  ####..######
@@####      st    @t  ####      ..    ##
  ##  st######    ##  ##########  ######
  ##      st      ##              ##
  ##    st  ##st  st  st######    ##
  ##  ststst##  st      ##  ########
  ##        ##    stst  ##
  ############      ######
            ##########

# corresponding goal
==ST 22   1
~        gone!

@BSBSBSB@@
SBSBSBSB
SBSBSBSB
SBSBSBSB
  SBSBSB
SBSBSBSB
  SB
  SB







