#program N level-12.cfg
#include ../rules.cfg

# level architecture
==1Ts
                      ########
            ########  ##    ##
        ######  PP######st  ##
      ####            st    ##
    ####    st  stst####  ####
    ##    ##st####          ##
    ##  ##  st  stst  ##  ######
@@  ##      st  ##    ##  @t  ##########
  ########        ##    stst  ##      ##
  ########  ####  st                  ##
  ##..        ######    ################
  ##....  ....##  ########
  ##......##..##
  ##..........##
  ##############

# corresponding goal
==ST 22   1
~          gone!

@B        @@
SBSB  SBSB
SBSBSB  SB
SBSBSBSBSB

