#program N level-15.cfg
#include ../rules.cfg

# level architecture
==1Ts
                ##############
    ##############          ##
    ##          ##  stPPst  ##
    ##stst  ##      ##################
    ##  ######............####      ##
    ##      st............####  ##  ##
    ##  ######............          ##
  ####      ########  ######  ##st####
@@##    ##st      ##    @t    ##  ##
  ##    st  ststst    ##  st####  ##
  ##      st  st  ######stst  ##  ##
  ##########          st      ##  ##
          ######  ######      ##  ##
              ##          ##      ##
              ################    ##
                            ########

# corresponding goal
==ST 22   1
~            gone!

@BSBSBSBSBSB@@
SBSBSBSBSBSB
SBSBSBSBSBSB









