#program N level-03.cfg
#include rules.cfg

# level architecture
==1TP
  ########################
  ##....    ##          ######
  ##....    ##  st    st    ##
  ##....    ##st########    ##
@@##....        @P  ####    ##
  ##....    ##  ##    st  ####
  ############  ####st  st  ##
      ##  st    st  st  st  ##
      ##        ##          ##
      ########################

# corresponding goal
==ST 22   1
~    gone!

@BSB@  @
SBSB
SBSB
SBSB
SBSB
