#program N level-06.cfg
#include ../rules.cfg

# level architecture
==1Ts
                  ##########
                  ##      ##########
                  ##  ##st####    ##
                  ##          st  ##
  ##################  ######      ##
  ##........    ####  st    st######
@@##........        @t  stst  ####
  ##........    ####st    st  PP##
  ##################    st    ####
                  ##  st  st    ##
                  ######  ####  ##
                      ##        ##
                      ############

# corresponding goal
==ST 22   1
~        gone!

@BSBSBSB@@
SBSBSBSB
SBSBSBSB





