#program N level-24.cfg
#include ../rules.cfg

# level architecture
==1Ts
          ##############
          ##    ##    ########
  ##########  st##st  ##    ####
  ##....  ##    ##    ##      ##
  ##....  ##  st##st  ##    st########
  ##..    ##          ##st    ##    ##
  ##....      st##    ##  st        ##
@@##....PP##    ##@t  ##st    ##    ##
  ##....  ##  st##          st##    ##
  ##....  ##    ##stst##st    ##    ####
  ##....  ##  st##    ##    st##st    ##
  ##....  ##    ##    ##      ##      ##
  ####..  ########    ##########      ##
    ########    ########      ##########

# corresponding goal
==ST 22   1
~    gone!

@BSB@@
SBSB
SB
SBSB
SBSB
SBSB
SBSB
SBSB
SBSB
  SB

