#program N level-43.cfg
#include ../rules.cfg

# level architecture
==1T.
            ################
      ########            ############
      ##        ####  st  st      PP##
      ##  ####  ####st##st  st  st####
  ######  ............##    stst  ####
  ##      ............##    ##      ##
@@##  ##  ..........@.##st    st    ##
  ##  ##st............  stst##  st  ##
  ##      ######  ######st    st  ####
  ######    st    st    st    st  ##
      ##    st    st    st    st  ##
      ############      ############
                ##########

# corresponding goal
==ST 22   1
~            gone!

@BSBSBSBSBSB@@
SBSBSBSBSBSB
SBSBSBSBSBSB
SBSBSBSBSBSB





