#control N reset
#include rules.cfg

# level architecture
==1T#
                  ################
                  ##          PP##
                  ##  st##st  ####
                  ##  st    st##
@@                ##@#st  st  ##
  ##################  st  ##  ######
  ##........    ####  st    st    ##
  ####......        st    st      ##
  ##........    ####################
  ################

# corresponding goal
==ST 22   1
~        gone!

@BSBSBSB@  @
  SBSBSB
SBSBSBSB
