#program N level-34.cfg
#include ../rules.cfg

# level architecture
==1T#
  ########################
  ####          ####    ##
  ####      st      st  ##
  ########  ####  stst  ##
  ##      st  ##        ##
  ##  ststst  ##  ########
  ##      ##  ##  st  ####
@@##    ##    @#    st  ##
  ##  st##  st##        ##
  ##      ....##  ########
  ########....  st  ##PP##
  ##..........##  st##  ##
  ####........##    st  ##
  ######....####        ##
  ########################

# corresponding goal
==ST 22   1
      ~    gone!

      @BSB@@
      SBSB
SBSBSBSBSB
  SBSBSBSB
    SBSB

