#program N level-32.cfg
#include ../rules.cfg

# level architecture
==1Ts
      ########
      ##    ##################
    ####    ####    ##      ##
    ##    st##  stPPst      ########
    ##st    st    ##  st  st##    ####
  ####    st####  ##st  st          ##
  ##    ##    ##  ##      ststst    ##
  ##  st        st    st####  ########
@@##  st  st  ##@t##    ##    ##
  ####    ######    ######st  ##
    ##    ##........          ##
    ########............########
        ##........########
        ##......####
        ##......##
        ##########

# corresponding goal
==ST 22   1
  ~            gone!

  @BSBSBSB    @@
  SBSBSBSBSBSB
SBSBSBSB
SBSBSB
SBSBSB

