#program N level-33.cfg
#include ../rules.cfg

# level architecture
==1T#
              ########
      ##########    ##
    ####          st##
  ####  st    ####  ######
  ##PPst  st  ##  st    ##
  ########  ####      st##
    ##........##st  st  ##
@@  ##........@#      st##
    ##........    stst  ####
    ##......  ##  st      ##
    ############st  st    ##
              ##      ######
              ##st  ######
              ##    ##
              ########

# corresponding goal
==ST 22   1
~        gone!

@BSBSBSB@@
SBSBSBSB
SBSBSBSB
SBSBSB





