#program N level-21.cfg
#include ../rules.cfg
#help Original 1980 Sōkoban by Hiroyuki Imabayashi | © 1982 Thinking Rabbitt | Level 20

# level architecture
==1Ts
          ####################
  ##########                ########
  ##          ##      st    ##PP  ##
  ##  ##############st########    ######
  ##  ##        ####  ##    ##st  ....##
  ##  ##  st          ##    ##    ##..##
  ##  ##  st    ##          ##st  ....##
  ##  ##    ######  ####          ##..##
@@##  ######    ##    ##    ##@t  ....##
  ##  ##        ##    ########    ##..##
  ##  ##st      st    st    ##st  ....##
  ##        st  ##  st  st  ##    ##..##
  ########  st######        ##st  ....##
        ##        stst  ######........##
        ##            ####  ############
        ################

# corresponding goal
==ST 28DD 1
    !    Done

    @BSB@@
      SB
    SBSB
      SB
    SBSB
      SB
    SBSB
      SB
    SBSB
SBSBSBSB
