#! animate {parallel}
#help piku-blink: idle bob - SPACE pause - ESC quit
#timing T 600
#control ~ pause
^Acc

==ATY
~~~
~@~
~ ~
 @
ooo
o@o
v v

==YTZ
 ooo
 o@o
 v v
  @
  @
 ^ ^

==ZTY
 ooo
 o@o
 ^ ^
  @
  @
 v v

