#! doom-imp-east {parallel}
#help doom-imp-east: press 'd' to step - SPACE pause - ESC quit
#control ~ pause
^Acc

==AdY
~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~
~~~~~~~~@~~~~~~~~
        @
~~~~~~~~~-ooo-~~~
~~~~~~-++ooo+-~~~
~~-+o+ooooo++:~~~
~+oooxxxoxooo~~~~
~+o-~oxxxx+xo+~~~
~~+ooxoxxo~~-+ox~
~~~+oxoxxo~~~~~~~
~~~~~oooxx+~~~~~~
~~~~~oxxoo-~~~~~~
~~~~+xx~~~~~~~~~~
~~~~-oo-~~~~~~~~~
_________________
~~~~~~~~@~~~~~~~~

==Yd~
~~~~~~~~~-ooo-~~~
~~~~~~-++ooo+-~~~
~~-+o+ooooo++:~~~
~+oooxxxoxooo~~~~
~+o-~oxxxx+xo+~~~
~~+ooxoxxo~~-+ox~
~~~+oxoxxo~~~~~~~
~~~~~oooxx+~~~~~~
~~~~~oxxoo-~~~~~~
~~~~+xx~~~~~~~~~~
~~~~-oo-~~~~~~~~~
________________ 
~~~~~~~~@~~~~~~~~
        @
~~~~~~~~~~~xxx~~~
~~~~~~~~~-oooo+~~
~~~~~~-+oooo++~~~
~~--+oooooxoo-~~~
~-oo--xxxxxoo--~~
~~oo-oxxxx+~+++oo
~~~ooxooxo-~~~~~~
~~~~~xxooxxo~~~~~
~~~~-xx+~+xx-~~~~
~~~ox+~~+xo~~~~~~
~~+o+~~~ox+~~~~~~
_________________
~~~~~~~~@Z~~~~~~~

==Zd~
~~~~~~~~~~xxx~~~~
~~~~~~~~-oooo+~~~
~~~~~-+oooo++~~~~
~--+oooooxoo-~~~~
-oo--xxxxxoo--~~~
~oo-oxxxx+~+++oo~
~~ooxooxo-~~~~~~~
~~~~xxooxxo~~~~~~
~~~-xx+~+xx-~~~~~
~~ox+~~+xo~~~~~~~
~+o+~~~ox+~~~~~~~
________________ 
~~~~~~~~@~~~~~~~~
        @
~~~~~~~~~~~~xx~~~
~~~~~~~~~~-ooo+~~
~~~~~~--+oooo--~~
~~~~++xxooooo+~~~
~~-oo+ooxxxxo+~~~
~~~+o+oxxx++oo+~~
~~~~~oxoxoo~~-oo~
~~~~~oxooxo+~~~~~
~~~~+oxo-xx+~~~~~
~~~+xo++xo+-~~~~~
~~~-++~oo+~~~~~~~
_________________
~~~~~~~~@W~~~~~~~

==Wd~
~~~~~~~~~~~xx~~~~
~~~~~~~~~-ooo+~~~
~~~~~--+oooo--~~~
~~~++xxooooo+~~~~
~-oo+ooxxxxo+~~~~
~~+o+oxxx++oo+~~~
~~~~oxoxoo~~-oo~~
~~~~oxooxo+~~~~~~
~~~+oxo-xx+~~~~~~
~~+xo++xo+-~~~~~~
~~-++~oo+~~~~~~~~
________________ 
~~~~~~~~@~~~~~~~~
        @
~~~~~~~~~~~xxx~~~
~~~~~~~~~-oooo+~~
~~~~~~-+oooo++~~~
~~--+oooooxoo-~~~
~-oo--xxxxxoo--~~
~~oo-oxxxx+~+++oo
~~~ooxooxo-~~~~~~
~~~~~xxooxxo~~~~~
~~~~-xx+~+xx-~~~~
~~~ox+~~+xo~~~~~~
~~+o+~~~ox+~~~~~~
_________________
~~~~~~~~@X~~~~~~~

==Xd~
~~~~~~~~~~xxx~~~~
~~~~~~~~-oooo+~~~
~~~~~-+oooo++~~~~
~--+oooooxoo-~~~~
-oo--xxxxxoo--~~~
~oo-oxxxx+~+++oo~
~~ooxooxo-~~~~~~~
~~~~xxooxxo~~~~~~
~~~-xx+~+xx-~~~~~
~~ox+~~+xo~~~~~~~
~+o+~~~ox+~~~~~~~
________________ 
~~~~~~~~@~~~~~~~~
        @
~~~~~~~~~~-ooo-~~
~~~~~~~-++ooo+-~~
~~~-+o+ooooo++:~~
~~+oooxxxoxooo~~~
~~+o-~oxxxx+xo+~~
~~~+ooxoxxo~~-+ox
~~~~+oxoxxo~~~~~~
~~~~~~oooxx+~~~~~
~~~~~~oxxoo-~~~~~
~~~~~+xx~~~~~~~~~
~~~~~-oo-~~~~~~~~
_________________
~~~~~~~~@Y~~~~~~~

