#! lpc-walk-east {parallel}
#help lpc-walk-east: walk cycle - SPACE pause - ESC quit
#timing T 80
#control ~ pause
^Acc

==ATY
~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~
~~~~~~~~~@~~~~~~~~~
         @
~~~~~xoooxxx~~~~~~~
~~~~+.,,:-----X~~~~
~~~X,,:,,,,,,,X~~~~
~~~X-,:+-,,,,-X~~~~
~~~~x+-::-+:,o~~~~~
~~~~~X+++-++:-x~~~~
~~~~X+,,+X~x+-oX~~~
~~~o--+x~~~~Xo---o~
~~~x+--+o~~~~xoox~~
___________________
~~~~~~~~~@~~~~~~~~~

==YT~
~~~~~xoooxxx~~~~~~~
~~~~+.,,:-----X~~~~
~~~X,,:,,,,,,,X~~~~
~~~X-,:+-,,,,-X~~~~
~~~~x+-::-+:,o~~~~~
~~~~~X+++-++:-x~~~~
~~~~X+,,+X~x+-oX~~~
~~~o--+x~~~~Xo---o~
~~~x+--+o~~~~xoox~~
__________________ 
~~~~~~~~~@~~~~~~~~~
         @
~~~~~x+:-+oooxx~~~~
~~~~X-,,,,:::::X~~~
~~~~X:,-:,,,,,,X~~~
~~~~~+,-o-::,,-X~~~
~~~~~x-:,-+,,,o~~~~
~~~~~~~o--oo-:-X~~~
~~~~~~Xx-:,+o--X~~~
~~~~~~x:,+oXX+-oX~~
~~~~~~~o++x~~oo++o~
___________________
~~~~~~~~~@Z~~~~~~~~

==ZT~
~~~~x+:-+oooxx~~~~~
~~~X-,,,,:::::X~~~~
~~~X:,-:,,,,,,X~~~~
~~~~+,-o-::,,-X~~~~
~~~~x-:,-+,,,o~~~~~
~~~~~~o--oo-:-X~~~~
~~~~~Xx-:,+o--X~~~~
~~~~~x:,+oXX+-oX~~~
~~~~~~o++x~~oo++o~~
__________________ 
~~~~~~~~~@~~~~~~~~~
         @
~~~~~o---oooxxx~~~~
~~~~o,,,,,:::::X~~~
~~~~+,,+,,,,,,,X~~~
~~~x:,-o-::,,,+X~~~
~~~x,,+o+::,::o~~~~
~~~X+-oXx+:,:-o~~~~
~~~~~~~~~xo-::-X~~~
~~~~~~~~xx:,ox~~~~~
~~~~~~~~xxo++xX~~~~
___________________
~~~~~~~~~@W~~~~~~~~

==WT~
~~~~o---oooxxx~~~~~
~~~o,,,,,:::::X~~~~
~~~+,,+,,,,,,,X~~~~
~~x:,-o-::,,,+X~~~~
~~x,,+o+::,::o~~~~~
~~X+-oXx+:,:-o~~~~~
~~~~~~~~xo-::-X~~~~
~~~~~~~xx:,ox~~~~~~
~~~~~~~xxo++xX~~~~~
__________________ 
~~~~~~~~~@~~~~~~~~~
         @
~~~~~o---oooxxx~~~~
~~~~o,,,,,:::::X~~~
~~~x-,--,,,,,,,X~~~
~~~x,-X+:::,,,+xX~~
~~X-,-Xx+:::::o+-X~
~~~o-+x~x+-,:+xxx~~
~~~~~~~Xo+o-,,o~~~~
~~~~~~Xo--xx:,-ox~~
~~~~~~Xoooxx-:-o~~~
___________________
~~~~~~~~~@X~~~~~~~~

==XT~
~~~~o---oooxxx~~~~~
~~~o,,,,,:::::X~~~~
~~x-,--,,,,,,,X~~~~
~~x,-X+:::,,,+xX~~~
~X-,-Xx+:::::o+-X~~
~~o-+x~x+-,:+xxx~~~
~~~~~~Xo+o-,,o~~~~~
~~~~~Xo--xx:,-ox~~~
~~~~~Xoooxx-:-o~~~~
__________________ 
~~~~~~~~~@~~~~~~~~~
         @
~~~~~xoooxxx~~~~~~~
~~~X+.,,,:-----X~~~
~~Xo::-:,,,,,,,x~~~
~~o,-xx+:,,,,,-oxX~
~x:,-~~x-::,,:o+--X
~X+-+X~X++-::+x~oo~
~~~~~~~o--o+:,+X~~~
~~~~~Xo--oXxo:,x~~~
~~~~~~xooox~o::-+~~
___________________
~~~~~~~~~@U~~~~~~~~

==UT~
~~~~xoooxxx~~~~~~~~
~~X+.,,,:-----X~~~~
~Xo::-:,,,,,,,x~~~~
~o,-xx+:,,,,,-oxX~~
x:,-~~x-::,,:o+--X~
X+-+X~X++-::+x~oo~~
~~~~~~o--o+:,+X~~~~
~~~~Xo--oXxo:,x~~~~
~~~~~xooox~o::-+~~~
__________________ 
~~~~~~~~~@~~~~~~~~~
         @
~~~~x----oooxxx~~~~
~~~x-,,,,,:::::X~~~
~~~x,--,,,,,,,,X~~~
~~X-,ox-:::,,,+x~~~
~~X:,+Xo-::,,:o+x~~
~~~o-+xXoo:,:+xxX~~
~~~~~~~x-+o:,-X~~~~
~~~~~~x--+xx:,x~~~~
~~~~~~~xoox-::-o~~~
___________________
~~~~~~~~~@R~~~~~~~~

==RT~
~~~x----oooxxx~~~~~
~~x-,,,,,:::::X~~~~
~~x,--,,,,,,,,X~~~~
~X-,ox-:::,,,+x~~~~
~X:,+Xo-::,,:o+x~~~
~~o-+xXoo:,:+xxX~~~
~~~~~~x-+o:,-X~~~~~
~~~~~x--+xx:,x~~~~~
~~~~~~xoox-::-o~~~~
__________________ 
~~~~~~~~~@~~~~~~~~~
         @
~~~~x----oooxxx~~~~
~~~x-,,,,,:::::X~~~
~~~x,:-,,,,,,,,X~~~
~~~x:-x-:::,,,+~~~~
~~~~o::-+:::,:oX~~~
~~~~~+-+x:,,+ooX~~~
~~~~~~xox:,-o+o~~~~
~~~~~~xoo-:oXX~~~~~
~~~~~~~~x-:-+x~~~~~
___________________
~~~~~~~~~@S~~~~~~~~

==ST~
~~~x----oooxxx~~~~~
~~x-,,,,,:::::X~~~~
~~x,:-,,,,,,,,X~~~~
~~x:-x-:::,,,+~~~~~
~~~o::-+:::,:oX~~~~
~~~~+-+x:,,+ooX~~~~
~~~~~xox:,-o+o~~~~~
~~~~~xoo-:oXX~~~~~~
~~~~~~~x-:-+x~~~~~~
__________________ 
~~~~~~~~~@~~~~~~~~~
         @
~~~~~o---ooooxx~~~~
~~~~o,,,,,:::::X~~~
~~~~+,:-,,,,,,:X~~~
~~~~o,:o:::,,,+~~~~
~~~~~+:::+:,,:x~~~~
~~~~~~Xooo::++o~~~~
~~~~~~~xo,:xo-+X~~~
~~~~~~~o::x++xX~~~~
~~~~~~x+--+xoox~~~~
___________________
~~~~~~~~~@V~~~~~~~~

==VT~
~~~~o---ooooxx~~~~~
~~~o,,,,,:::::X~~~~
~~~+,:-,,,,,,:X~~~~
~~~o,:o:::,,,+~~~~~
~~~~+:::+:,,:x~~~~~
~~~~~Xooo::++o~~~~~
~~~~~~xo,:xo-+X~~~~
~~~~~~o::x++xX~~~~~
~~~~~x+--+xoox~~~~~
__________________ 
~~~~~~~~~@~~~~~~~~~
         @
~~~~~~xoooxxx~~~~~~
~~~~~+.,,:-----X~~~
~~~~X,,:,,,,,,,X~~~
~~~~X-,:+-,,,,-X~~~
~~~~~x+-::-+:,o~~~~
~~~~~~X+++-++:-x~~~
~~~~~X+,,+X~x+-oX~~
~~~~o--+x~~~~Xo---o
~~~~x+--+o~~~~xoox~
___________________
~~~~~~~~~@Y~~~~~~~~

