#! lpc-walk {parallel}
#help lpc-walk: walk cycle - SPACE pause - ESC quit
#timing T 100
#control ~ pause
^Acc

==ATY
~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~
~~~~~~~~~@~~~~~~~~
         @
~~o--+++++++++-+x~
~o,,,,:----:,,,,-X
x-:o-,,,,,,,,:+-:o
x,+Xx-:,,,,:-+Xx:-
x::-o:::,,,:--o-,o
~xooo::-ooo-,:ooo~
~~~~x-:+~~~+:-X~~~
~~~x-,,:X~X-,,+X~~
~~~X++++~~~o+++X~~
__________________
~~~~~~~~~@~~~~~~~~

==YTZ
~~o--+++++++++-+x~
~o,,,,:----:,,,,-X
x-:o-,,,,,,,,:+-:o
x,+Xx-:,,,,:-+Xx:-
x::-o:::,,,:--o-,o
~xooo::-ooo-,:ooo~
~~~~x-:+~~~+:-X~~~
~~~x-,,:X~X-,,+X~~
~~~X++++~~~o+++X~~
__________________
~~~~~~~~~@~~~~~~~~
         @
~~xoooooo++++--+x~
~x:.,,:----:,,,,-X
X+:-:,,,,,,,,:+-:o
x,+Xx-:,,,,:-+x+:+
x,-+o:::,,,::-o+-x
Xo++o:--ooo-,:o~~~
~~~~x-:+X~~+,:x~~~
~~~x:,,:X~X-::+X~~
~~~~ooox~~~+++oX~~
__________________
~~~~~~~~~@~~~~~~~~

==ZTW
~~xoooooo++++--+x~
~x:.,,:----:,,,,-X
X+:-:,,,,,,,,:+-:o
x,+Xx-:,,,,:-+x+:+
x,-+o:::,,,::-o+-x
Xo++o:--ooo-,:o~~~
~~~~x-:+X~~+,:x~~~
~~~x:,,:X~X-::+X~~
~~~~ooox~~~+++oX~~
__________________
~~~~~~~~~@~~~~~~~~
         @
~~~~~xxxxoooooox~~
~~o--:-++++--,,,+~
~o,,,,,,,,,,,:+--x
~+:-+::,,,,,:-x-:+
~+,-o-:,,,,::+o--x
~o,-+--+oo+::-X~~~
~~xoo::+X~o:,+~~~~
~~~x:,,:X~x::-x~~~
~~~~~~~~~~o---o~~~
__________________
~~~~~~~~~@~~~~~~~~

==WTX
~~~~~xxxxoooooox~~
~~o--:-++++--,,,+~
~o,,,,,,,,,,,:+--x
~+:-+::,,,,,:-x-:+
~+,-o-:,,,,::+o--x
~o,-+--+oo+::-X~~~
~~xoo::+X~o:,+~~~~
~~~x:,,:X~x::-x~~~
~~~~~~~~~~o---o~~~
__________________
~~~~~~~~~@~~~~~~~~
         @
~~xoooooo++++--+x~
~x:.,,:----:,,,,-X
X+:-:,,,,,,,,:++:o
x,+Xx-:,,,,:-+o-:+
x:-+o-::,,,::-o+-x
Xo++o::+oo+::-X~~~
~~~~x::+~~x:,+~~~~
~~~x:,,:X~o:,:o~~~
~~~~ooox~~o:-:o~~~
__________________
~~~~~~~~~@~~~~~~~~

==XTU
~~xoooooo++++--+x~
~x:.,,:----:,,,,-X
X+:-:,,,,,,,,:++:o
x,+Xx-:,,,,:-+o-:+
x:-+o-::,,,::-o+-x
Xo++o::+oo+::-X~~~
~~~~x::+~~x:,+~~~~
~~~x:,,:X~o:,:o~~~
~~~~ooox~~o:-:o~~~
__________________
~~~~~~~~~@~~~~~~~~
         @
~~o--+++++++++-+x~
~o,,,,:----:,,,,-X
x-:o-,,,,,,,,:+-:o
x,+Xx-:,,,,:-+Xx:-
x::-o:::,,,:--o-,o
~xoo+,-+oo+-:-xoo~
~~~~o::x~~x::+~~~~
~~~o:,:o~~o,,:o~~~
~~~++++x~~x+++o~~~
__________________
~~~~~~~~~@~~~~~~~~

==UTR
~~o--+++++++++-+x~
~o,,,,:----:,,,,-X
x-:o-,,,,,,,,:+-:o
x,+Xx-:,,,,:-+Xx:-
x::-o:::,,,:--o-,o
~xoo+,-+oo+-:-xoo~
~~~~o::x~~x::+~~~~
~~~o:,:o~~o,,:o~~~
~~~++++x~~x+++o~~~
__________________
~~~~~~~~~@~~~~~~~~
         @
~~o--+++ooooooox~~
~o::,,:----:,,,.+~
x--o-,,,,,,,,:-::x
x:-ox-:,,,,:-+Xo:-
X+--o:::,,,:--o-,+
~~~x-::+oo+-:-o+-x
~~~X+,:x~~o-:+~~~~
~~~x-::o~~+,,,o~~~
~~~x+++x~~~oxox~~~
__________________
~~~~~~~~~@~~~~~~~~

==RTS
~~o--+++ooooooox~~
~o::,,:----:,,,.+~
x--o-,,,,,,,,:-::x
x:-ox-:,,,,:-+Xo:-
X+--o:::,,,:--o-,+
~~~x-::+oo+-:-o+-x
~~~X+,:x~~o-:+~~~~
~~~x-::o~~+,,,o~~~
~~~x+++x~~~oxox~~~
__________________
~~~~~~~~~@~~~~~~~~
         @
~~xoooooxxxxxx~~~~
~x:,,:-++++-:--+x~
X+-o:,,,,,,,,,,,-X
x:-oo::,,,,,:-o::X
X+-ox:::,,,::++,,X
~~~~o::-oo+-:o-,:X
~~~~x:,-X~x-:-oox~
~~~X+::+~~o,:,+~~~
~~~x----X~~~~~~~~~
__________________
~~~~~~~~~@~~~~~~~~

==STV
~~xoooooxxxxxx~~~~
~x:,,:-++++-:--+x~
X+-o:,,,,,,,,,,,-X
x:-oo::,,,,,:-o::X
X+-ox:::,,,::++,,X
~~~~o::-oo+-:o-,:X
~~~~x:,-X~x-:-oox~
~~~X+::+~~o,:,+~~~
~~~x----X~~~~~~~~~
__________________
~~~~~~~~~@~~~~~~~~
         @
~~o--+++ooooooox~~
~o::,,:----:,,,.+~
x--o-,,,,,,,,:-::x
x::+x-:,,,,:-+Xo:-
X+--o:::,,,:--o-,+
~~~~o:,+ooo-,-o+-x
~~~~x:,+~~x::+~~~~
~~~x+:,-X~+,,,o~~~
~~~x-::-X~~oxox~~~
__________________
~~~~~~~~~@~~~~~~~~

==VTY
~~o--+++ooooooox~~
~o::,,:----:,,,.+~
x--o-,,,,,,,,:-::x
x::+x-:,,,,:-+Xo:-
X+--o:::,,,:--o-,+
~~~~o:,+ooo-,-o+-x
~~~~x:,+~~x::+~~~~
~~~x+:,-X~+,,,o~~~
~~~x-::-X~~oxox~~~
__________________
~~~~~~~~~@~~~~~~~~
         @
~~o--+++++++++-+x~
~o,,,,:----:,,,,-X
x-:o-,,,,,,,,:+-:o
x,+Xx-:,,,,:-+Xx:-
x::-o:::,,,:--o-,o
~xooo::-ooo-,:ooo~
~~~~x-:+~~~+:-X~~~
~~~x-,,:X~X-,,+X~~
~~~X++++~~~o+++X~~
__________________
~~~~~~~~~@~~~~~~~~

