#! walker {parallel}
#help walker: idle bob - SPACE pause - ESC quit
#timing T 600
#control ~ pause
^Acc

==ATY
 ~~~
~ @ ~
 ~ ~
  @
 ___
( @ )
 / \

==YTZ
 ___
( @ )
 / \
  @
  @
 \ /

==ZTY
 ___
( @ )
 \ /
  @
  @
 / \

